.boxtitle 
        {font-size:24px;
        margin-left:20px;
        margin-bottom:5px;}

.infobox 
        {border:1px solid #cccccc;
        margin-left:20px;
        margin-right:20px;
        width:95%;
        font-size:14px;
        padding-top:5px;
        padding-left:5px;
        margin-bottom:5px;}

#submit
        {background-color:#4aaaa5;
        color:white;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size:24px;
       
       margin-left:20px;
        padding-top:15px;
        padding-bottom:15px;
        text-align:center;}
        
textarea {margin-left:20px;}